node_modules
dist
.vscode

# Config files
!package.json
!tsconfig.json
!tsconfig.node.json
!package-lock.json
!firebase.json
!.firebaserc

# Secrets (DO NOT PUSH)
serviceAccountKey.json
firebase-admin-key.json
credentials.json
.env
.env.local
.env.*.local

node_modules
